#!/bin/bash

cd {{ base_dir }}

./kill-all.sh

./start-all.sh \
  -d {{ scylla_monitoring_prometheus_data_path }} \
  -G {{ scylla_monitoring_grafana_data_path }} \
  -f {{ scylla_monitoring_alertmanager_data_path }} \
  -k {{ scylla_monitoring_loki_data_path }} \
  -v {{ scylla_monitoring_dashboards_versions|join(',') }} \
  -s {{ scylla_monitoring_prometheus_config_path }}/scylla_servers.yml \
  -N {{ scylla_monitoring_prometheus_config_path }}/scylla_manager_servers.yml \
  -r {{ scylla_monitoring_prometheus_config_path }}/rule_config.yml \
  -R {{ scylla_monitoring_prometheus_prom_rules_path }}/ \
  -b --storage.tsdb.retention.time={{ scylla_monitoring_retention }} \
  {{ scylla_monitoring_params | default('') }}

